@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    /* background-color: #809faa; */
    background-image: url(./contact-page.jpg);
    background-position: center;
    background-size: cover;
}

.title h1{
    text-align: center;
    padding-top: 50px;
    font-size: 42px;
    color: #fff;
    color: #217324; 
    background-image: linear-gradient(to right top, #739e6e, #207515, #289116, #7cdc68, #9bfd84);background-clip: text; -webkit-background-clip: text; 
    /* text-fill-color: transparent;  */
    -webkit-text-fill-color: transparent; 
}

.title h1::after{
    content: "";
    height: 4px;
    width: 230px;
    background-color:#c1fac2;
    display: block;
    margin: auto; 
}

.services{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;
}

.card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 20px;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.card:hover{
    background-color:rgb(162, 232, 162);
    transition: .4s ease;
}

.card .icon{
    font-size: 35px;
    margin-bottom: 10px;
    color: rgb(16, 169, 21);
}

.card h2{
    font-size: 28px;
    color:rgb(10, 63, 10);
    margin-bottom: 20px;
}

.card p{
    font-size: 17px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #525252;
}

.button{
    font-size: 15px;
    text-decoration: none;
    color:#fff;
    padding: 8px 12px;
    border-radius: 5px;
    letter-spacing: 1px;
    background-color:seagreen;
}

.button:hover{
    background-color:rgb(92, 177, 92);
    transition: .4s ease;
}

@media screen and (max-width: 940px){
    .services{
        display: flex;
        flex-direction: column;
    }

    .card{
        width: 85%;
        display: flex;
        margin: 20px 0px;
    }
}
